<div class="home-page-container">
  <div class="home-top-container">
    <div id="top-page-img">
      <h1>TREE BRANCH MAPS</h1>
    </div>
    <!-- <video id="top-page-img" preload="auto" autoplay='autoplay' loop="loop">
      <source src ='http://i.imgur.com/HnoZTYw.webm' type= "video/webm ">
        <h1>TREE BRANCH MAPS</h1>
      </source>
    </video> -->
  </div>
  <div class="home-page-mid-container">
    <h3 id="home-mid-between-section-one">This is where you can keep track of all of your group favorites then find and see them on your own personal map!
      All these possibilities for your own personal groups, are right here. You just need to create them first!</h3>
    <section class="home-mid-first-section">
      <div class="home-mid-first-section-img"></div>
      <div class="home-mid-first-section-text">
        <h4>"The world is a country which nobody ever yet knew by description; one must ravel through it one's self to be acquainted with it." -Philip Stanhope, 4th Earl of Chesterfield</h4>
      </div>
    </section>
    <h3 id="home-mid-between-section-two">Over here at Tree Branch Maps, were excited to share with you all the tools you need
    find the right path for you. If your ready to start a group for a new journey or retrace an old one.</h3>
    <section class="home-mid-second-section">
      <div class="home-mid-second-section-img"></div>
      <div class="home-mid-second-section-text">
        <h4>“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” – Ray Bradbury</h4>
      </div>
    </section>
  </div>
  <footer>
    <div class="navBar-logo"></div>
    <div class="footer-name-company">TREE BRANCH MAPS</div>
    <div class="footer-legal">2016 Treebranchmaps.com </div>
  </footer>
</div>
