<!-- *************************************Navbar for computers and large screens***************************************************************************************** -->
<div class="navBar-container">
  <a ui-sref="home" class="navBar-logo"></a>
  <div class="navBar">
    <a class="navRotate" ui-sref="home">HOME</a>
    <a class="navRotate" ui-sref="login">LOG IN</a>
    <a class="navRotate" ui-sref="register">REGISTER</a>
    <a class="navRotate" ui-sref="profile">PROFILE</a>
  </div>
  <!-- **************************************Small menu with only icon visible on small screens****************************************************************************** -->
<button id="menu-icon">
  <input type="checkbox" />
  <span></span>
  <span></span>
  <span></span>
</div>
</button>
<nav id="nav-menu">
		<ul class="menu-list">
			<li><a class="clearfix" ui-sref="home"><span class="icon"></span><span>Home</span></a></li>
			<li><a class="clearfix" ui-sref="login"><span class="icon"></span><span>Log In</span></a></li>
			<li><a class="clearfix" ui-sref="register"><span class="icon"></span><span>Register</span></a></li>
			<li><a class="clearfix" ui-sref="profile"><span class="icon"></span><span>Profile</span></a></li>
			<li><a class="clearfix" href="#"><span class="icon"></span><span>FAQ</span></a></li>
			<li><a class="clearfix" href="#"><span class="icon"></span><span>ABOUT</span></a></li>
		</ul>
	</nav>



</div>
