<div class="profile-container">
  <div class="profile-top-container">
    <div class="profile-header">
      <h2>You made it to the profile page!!</h2>
      <h3>Welcome <strong>{{user.name}}</strong>! This is your profile.</h3>
      <button class="logout-button" type="button" ng-click="logout()">Logout</button>
    </div>
    <div class="group-list-create">
      <h2>Create New Group List</h2>
      <div class="create-new-group">
        Group Name  <input ng-model="groupName" placeholder="Group Name">
        Description  <input ng-model="groupDescription" placeholder="Description">
        <button class="add-group-button" type="button" onclick="clearSearch()" ng-click="addGroup(groupName, groupDescription)">Create Group</button>
      </div>
    </div>
</div>
<div class="container-spacer"></div>
<div class="group-map-marker-container">
  <div class="group-display-container">
    <h2>Your Group Lists</h2>
    <div class="group-lists-tabs" ng-repeat="group in groups">
        <ul rollover ng-click="select(group)" class="group-tabs-name-container"><p>
          {{group.groupName}}
        </p></ul>
        <div class="group-lists-tabs-wrapper" ng-show="group.selected" ng-style="{'top': '-' + $index*50 + 'px', 'left':  433-($index*29) + 'px'}">
            <div class="group-info">
              <h3><strong>{{group.groupName}}</strong></h3>
              <h4>{{group.groupDescription}}</h3>
            </div>
            <div class="marker-list-container">
              <h3>Marker List</h3>
              <button class="display-markers-button" type="button" ng-click="addMarkersToArray(group.markerList)">Display All Markers</button>
              <div class="marker-list" ng-repeat="marker in group.markerList">
                <strong>{{marker.markerName}}</strong>, {{marker.markerLat}},  {{marker.markerLong}}
                <button class="delete-button" type="button" ng-click="markerDelete(marker)">X</button>
              </div>
              <div class="group-lists-footer">
                <div class="update-modal" ng-init="showUpdateModal=false">
                 <button class="update-group-button" ng-click="showUpdateModal = !showUpdateModal">Update Group</button>
                 <div class="modal-fade-in" aria-hidden="false" ng-show="showUpdateModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="update-group-modal">
                            <h2>Update Group List</h2>
                             Group Name  <input ng-model="groupName" placeholder="group name"><br>
                             Description  <input ng-model="groupDescription" placeholder="description">
                          </div>
                            <div class="modal-footer">
                              <button class="update-group-button" type="button" ng-click="groupUpdate(groupName, groupDescription, group._id)">Update Group</button>
                              <br>
                              <br>
                              <button type="button" class="modal-close-button" ng-click="showUpdateModal=false">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
               <div class="marker-modal" ng-init="showMarkerModal=false">
                 <button class="add-marker-button" ng-click="showMarkerModal = !showMarkerModal">Add Marker</button>
                 <div class="modal-fade-in" aria-hidden="false" ng-show="showMarkerModal">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="map-marker-modal">
                               <h2>Create New Marker</h2>
                               Marker Name  <input ng-model="markerName" placeholder="marker name"><br>
                               Latitude  <input id="markerLat" ng-model="markerLat" placeholder="latitude">
                               Longitude  <input id="markerLong" ng-model="markerLong" placeholder="longitude">
                             </div>
                             <div class="modal-footer">
                               <button class="add-marker-button" type="button" ng-click="addMarker(markerName, markerLat, markerLong, group._id)">Create Marker</button><br><br>
                               <button type="button" class="modal-close-button" ng-click="showMarkerModal=false">Close</button>
                             </div>
                         </div>
                     </div>
                 </div>
               </div>
             <button class="delete-button" type="button" ng-click="groupDelete(group)">Delete Group</button>
              </div>
            </div>
        </div>
    </div>
</div>

  <custom-map></custom-map>

</div>
<div class="container-spacer2"></div>
<div class="profile-bottom-container">

</div>
</div>
