<div class="profile-container">
<nav-menu></nav-menu>
<h2>You made it to the profile page!!</h2>
<h3>Welcome <strong>{{user.name}}</strong>! This is your profile.</h3>

<button type="button" ng-click="logout()">Logout</button>

<div class="group-map-marker-container">
  <h2>Create New Group List</h2>
  <div class="create-new-group">
    Group Name<input ng-model="groupName" placeholder="Name">
    Description<input ng-model="groupDescription" placeholder="Description">
    <button type="button" ng-click="addGroup(groupName, groupDescription)" >Create Group</button>
  </div>
  <div class="group-map-marker-editor">
    <h2>Create New Marker</h2>
    Marker Name<input ng-model="markerName" placeholder="name">
    Latitude<input ng-model="markerLat" placeholder="latitude">
    Longitude<input ng-model="markerLong" placeholder="longitude">
    <button type="button" ng-model="clearSearch()" ng-click="addMarker(markerName, markerLat, markerLong)" >Create Marker</button>
  </div>
  <div class="group-display-container">
    <h2>Your Group Lists</h2>
    <br>
    <div class="group-lists" ng-repeat="group in groups">
    <h3>  {{group.groupName}} </h3>
    <br>
    <h4> Description: {{group.groupDescription}} </h4>
    <button type="button" ng-click="groupDelete(groupList)">Delete Group</button>
    </div>
  </div>

</div>
<custom-map></custom-map>
</div>
