@import url(https://fonts.googleapis.com/css?family=Arvo:700italic);

.navBar-container {
  width: 90%;
  height: 80px;
  position: fixed;
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-1, grey));
  margin: 0 0 0 5%;
  padding: 0;
  top: 0;
  z-index: 80;
}
.navBar-logo {
  width: 22%;
  height: 80px;
  background-image: url('../img/Earth_Globe_Logo2.png');
  /*background-size: cover;*/
  background-repeat: no-repeat;
  float: left;
}
.navBar {
  width: 65%;
  height: 80px;
  flex: 1 1 1;
  align-self: center;
  margin: 0 -30% 0 0;
  padding: 0;
  float: right;
}

.navRotate {
  height: 10px;
  /*width: 20%;*/
  font-size: 1rem;
  text-decoration: none;
  padding: 2rem;
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-1, grey));
  color: white;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transform: rotateX(0deg);
  display: inline-block;
  vertical-align: bottom;
}
.navRotate:hover {
  animation: rotateLink .5s cubic-bezier(.53,.23,.61,1.25) forwards;
  background: darken(#2c3e50, 5);
  color: white;
}
.navRotate:active {
  background: black;
}
.navRotate:first-child {
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}
.navRotate:last-child {
  border-radius: 0 2rem 2rem 0;
  padding-right: 2rem;
}

#menu-icon {

  width: 60px;
  height: 60px;
	position: relative;
  display: block;
	top: 1.5%;
	right: 6.5%;
  z-index: 100;
    border-radius: 100%;*/
    -webkit-user-select: none;
    user-select: none;
  /*float: left;*/
	background: linear-gradient(var(--main-color-4, yellow), var(--main-color-5, grey));
  border: 1px solid black;
  /*line-height: 80px;*/
}

#menu-icon:hover {
  cursor: pointer;
}
#menu-icon input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 200; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menu-icon span
{
  display: block;
  width: 33px;
  height: 4px;
  margin: 0 0 5px 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 100;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.5s ease;
}

#menu-icon span:first-child
{
  transform-origin: 0% 0%;
}
#menu-icon span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menu-icon input:checked ~ span
{
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: #232323;
}
#menu-icon input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menu-icon input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(45deg) translate(0, -1px);
}
#nav-menu {
	width: 200px;
	height: 35%;
	position: fixed;
	right: 5%;
	margin-top: 80px;
	margin-right: 10px;
  box-shadow: inset 0 0 2em  rgba(0,0,0,.5), 0 0 2em  var(--main-color-4, yellow);
  z-index: 200;
}

.menu-list {
	height: 100%;
	width: 100%;
	margin-left: -40px;
	display: inline-block;
}

.clearfix {
	width: 100%;
	height: 50px;
	display: block;
	/*border: 1px black solid;*/
	text-align: center;
	vertical-align: middle;
  overflow:	hidden;
	font-family: 'Arvo', serif;
	text-shadow: 0 -1px 0 #000;
	font-weight: 600;
	color: var(--main-color-3, yellow);
	font-size: 200%;
	/*text-align: center;*/
	text-shadow: 0.5px 0.5px white,
							 -0.5px 0.5px white,
							 0.5px -0.5px white,
							 -0.5px -0.5px white;
}
a:hover {
	color: grey;
	text-shadow: 1.5px 1.5px rgb(238, 236, 0),
							 -1.5px 1.5px rgb(238, 236, 0),
							 1.5px -1.5px rgb(238, 236, 0),
							 -1.5px -1.5px rgb(238, 236, 0);
}

@-webkit-keyframes rotateLink {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(360deg);}
}

@media(max-width: 750px) {
  .navRotate {
    display: none;
  }
}
@media (max-width: 900px) {
  .navRotate {
    display: none;
  }
}
@media (min-width: 900px) {
  #nav-menu {
    display: none;
  }
  #menu-icon {
    display: none;
  }
}
