.profile-container {
  height: 90%;
  width: 90%;
  margin: 80px 0 0 5%;
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-3, gey));
  /*display: inline-block;*/
}
.profile-top-container {
  height: 100%;
  width: 100%;
  background-image:
    /*linear-gradient(rgba(13, 232, 22, 0.6), rgba(17, 117, 222, 0.72)),*/
    url('../img/world-map.png');
  background-size: cover;
  /*background: lawngreen;*/

  margin: 0 0 0 0;
}
.profile-header {
  height: 30%;
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  font-size: 250%;
  padding-top: 10%;
}
.profile-container button:hover {
  background: orange;
}
.profile-container h3 strong {
  color: var(--main-color-3, yellow);
  font-size: 150%;
  font-style: italic;
}
.group-list-create {
  height: 100px;
  width: 40%;
  bottom: 50px;
  position: absolute;
  text-align: center;
  border: 4px solid var(--main-color-1, yellow);
  border-radius: 10px;
  margin: 0 0 0 50px;
  /*background: linear-gradient(var(--main-color-2, yellow),var(--main-color-1, yellow));*/
}
.group-list-create h2 {
  font-size: 175%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: var(--main-color-5, yellow);
  -webkit-text-stroke-width: 2px;
   text-fill-color: white;
   text-stroke-color: var(--main-color-5, yellow);
   text-stroke-width: 2px;
}
.container-spacer {
  height: 200px;
  width: 100%;
  z-index: 300;
}
.container-spacer2 {
  height: 200px;
  width: 100%;
  margin: 800px 0 0 0;
  z-index: 300;
}
.group-map-marker-container {
  width: 100%;
  height: 90%;
  background: black;
  /*border: 10px solid red;*/
  display: inline;
  /*margin: 50px 0 0 0;*/
  /*padding: 200px 0 0 0;*/
  /*top: 200px;*/
}
#map {
  height: 800px;
  width: 50%;
  background: var(--main-color-1, red);
  border: 4px var(--main-color-3, yellow) solid;
  top: 0;
  padding: 0;
  margin: 0;
  float: right;
}
.group-display-container {
  width: 50%;
  height: 800px;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 150%;
  font-stretch: expanded;
}
.group-display-container h2 {
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  color: white;
  /*background: linear-gradient(var(--main-color-5, yellow), var(--main-color-4, grey));*/
  background: var(--main-color-2, yellow);
  float: left;
}

.group-lists-tabs {
  width: 25%;
  height: 50px;
  position: relative;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  transform: skew(-30deg);
  color: white;
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-5, grey));
  margin: 0 0 0 13px;
  /*margin: 35px 0 0 13px;*/
  top: 35px;
}
.group-lists-tabs p {
  position: static;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg);
  /*box-shadow: inset 0 0 2em  rgba(0,0,0,.5), 0 0 2em  var(--main-color-4, yellow);*/
}
.group-lists-tabs:first-child .group-tabs-name-container{
text-align: center;
}
.group-lists-tabs p:hover {
/*color: lawngreen;*/
font-size: 200%;
}
.group-lists-tabs-wrapper {
  width: 287%;
  height: 765px;
  position: absolute;
  float: left;
  left: 445px;
  top: 0;
  z-index: 10;
  display: block;
  background: var(--main-color-4, lightgrey);
  /*border: 1px solid blue;*/
  cursor: auto;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg);
}
.group-info {
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-2, lightgrey));
}
.group-info h3 strong {
  color: var(--main-color-3, black);
  font-style: italic;
}
.group-info h4 {
  color: var(--main-color-5, yellow);
}
.marker-list-container {
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-4, lightgrey));
  padding-top: 5px;
}
.marker-list-container h3 {
  color: var(--main-color-5, black);
}
.marker-list {
  color: red;
  border-bottom: 2px solid black;
}
.marker-list strong {
  color: var(--main-color-5, black);
}
.group-lists-footer {
  /*background: linear-gradient(var(--main-color-2, lightgrey), var(--main-color-4, white));*/
}
.group-display-container button {
  color: white;
  border-radius: 30%;
}
.add-group-button {
  color: white;
  background: linear-gradient(var(--main-color-5, yellow), var(--main-color-4, grey));
  border-radius: 30%;
}
.display-markers-button {
  background: linear-gradient(white, purple);
}
.update-group-button {
background: linear-gradient(blue, grey);
}
.add-marker-button {
background: linear-gradient(lawngreen, grey);
}
.delete-button {
  background: linear-gradient(red, grey);
}
.modal-close-button {
  background: linear-gradient(white, red);
}
.modal-fade-in {
  width: 600px;
  height: 300px;
  background: linear-gradient(var(--main-color-3, yellow), var(--main-color-4, grey));
  display: block;
  border: 2px dotted white;
}
.modal-dialog {
  right: 600px;
  top: 0;
}
.profile-bottom-container {
  width: 100%;
  height: 90%;
  display: flex;
  background-image:
    linear-gradient(rgba(13, 232, 22, 0.6), rgba(17, 117, 222, 0.72)),
    url('../img/mountain-beyond-mountain.jpg');
  background-size: cover;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}
