.profile-container {
  height: 90%;
  width: 90%;
  position: relative;
  margin: 80px 0 0 5%;
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-3, gey));
  /*display: inline-block;*/
}
.profile-top-container {
  height: 100%;
  width: 100%;
  background-image:
    /*linear-gradient(rgba(13, 232, 22, 0.6), rgba(17, 117, 222, 0.72)),*/
    url('../img/world-map.png');
  background-size: cover;
  /*background: lawngreen;*/

  margin: 0 0 0 0;
}
.profile-header {
  height: 30%;
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  font-size: 250%;
  padding-top: 10%;
}
.profile-container button:hover {
  background: orange;
}
.profile-container h3 strong {
  color: var(--main-color-3, yellow);
  font-size: 150%;
  font-style: italic;
}
.group-list-create {
  height: 100px;
  width: 40%;
  bottom: 50px;
  position: absolute;
  text-align: center;
  border: 4px solid var(--main-color-1, yellow);
  border-radius: 10px;
  margin: 0 0 0 50px;
  /*background: linear-gradient(var(--main-color-2, yellow),var(--main-color-1, yellow));*/
}
.group-list-create h2 {
  font-size: 175%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: var(--main-color-5, yellow);
  -webkit-text-stroke-width: 2px;
   text-fill-color: white;
   text-stroke-color: var(--main-color-5, yellow);
   text-stroke-width: 2px;
}
.container-spacer {
  height: 200px;
  width: 100%;
  z-index: 300;
}
.container-spacer2 {
  height: 200px;
  width: 100%;
    margin: 800px 0 0 0;
  z-index: 300;
}
.group-map-marker-container {
  width: 100%;
  height: 90%;
  background: black;
  /*border: 10px solid red;*/
  display: inline;
  /*margin: 50px 0 0 0;*/
  /*padding: 200px 0 0 0;*/
  /*top: 200px;*/
}
.group-display-container {
  width: 50%;
  height: 800px;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 150%;
  font-stretch: expanded;
}
.group-display-container h2 {
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  color: white;
  /*background: linear-gradient(var(--main-color-5, yellow), var(--main-color-4, grey));*/
  background: var(--main-color-2, yellow);
  float: left;
}

.group-lists-tabs {
  width: 25%;
  height: 50px;
  position: relative;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  transform: skew(-30deg);
  color: white;
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-5, grey));
  margin: 0 0 0 13px;
  /*margin: 35px 0 0 13px;*/
  top: 35px;
}
.group-lists-tabs p {
  position: static;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg);
  /*box-shadow: inset 0 0 2em  rgba(0,0,0,.5), 0 0 2em  var(--main-color-4, yellow);*/
}
.group-lists-tabs:first-child .group-tabs-name-container{
text-align: center;
}
.group-lists-tabs p:hover {
/*color: lawngreen;*/
font-size: 200%;
}
.group-lists-tabs-wrapper {
  width: 287%;
  height: 765px;
  position: absolute;
  float: left;
  left: 445px;
  top: 0;
  z-index: 10;
  display: block;
  background: var(--main-color-4, lightgrey);
  /*border: 1px solid blue;*/
  cursor: auto;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg);
}
.group-info {
  background: linear-gradient(var(--main-color-4, yellow), var(--main-color-2, lightgrey));
}
.group-info h3 strong {
  color: var(--main-color-3, black);
  font-style: italic;
}
.group-info h4 {
  color: var(--main-color-5, yellow);
}
.marker-list-container {
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-4, lightgrey));
  padding-top: 5px;
}
.marker-list-container h3 {
  color: var(--main-color-5, black);
}
.marker-list {
  color: red;
  border-bottom: 2px solid black;
}
.marker-list strong {
  color: var(--main-color-5, black);
}
.group-lists-footer {
  /*background: linear-gradient(var(--main-color-2, lightgrey), var(--main-color-4, white));*/
}
.group-display-container button {
  color: white;
  border-radius: 30%;
}
.add-group-button {
  color: white;
  background: linear-gradient(var(--main-color-5, yellow), var(--main-color-4, grey));
  border-radius: 30%;
}
.display-markers-button {
  background: linear-gradient(white, purple);
}
.update-group-button {
background: linear-gradient(blue, grey);
}
.add-marker-button {
background: linear-gradient(lawngreen, grey);
}
.delete-button {
  background: linear-gradient(red, grey);
}
.modal-close-button {
  background: linear-gradient(white, red);
}
.modal-fade-in {
  width: 600px;
  height: 300px;
  position: relative;
  background: linear-gradient(var(--main-color-3, yellow), var(--main-color-4, grey));
  display: block;
  border: 2px dotted white;
  z-index: 9000;
}
.modal-dialog {
  /*position: relative;*/
  right: 600px;
  top: 0;
  z-index: 9000;
}
.map-container {
  height: 800px;
  width: 50%;
  float: right;
  position: relative;
  z-index: 1;
}
#map {
  height: 800px;
  width: 100%;
  position: relative;
  background: var(--main-color-1, red);
  border: 4px var(--main-color-3, yellow) solid;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.profile-bottom-container {
  width: 100%;
  height: 90%;
  display: flex;
}
.profile-bottom-container-img {
  height: 100%;
  width: 100%;
  background-image: url('../img/balance-rock-summit.jpg');
  background-size: cover;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}
.profile-bottom-container-img h2 {
  width: 50%;
  height: 50%;
  margin: 220px 0 0 600px;
  font-size: 200%;
  font-style: italic;
  text-align: center;
}
@media (max-width: 450px) {
  .profile-container {
    width: 400px;
    height: 400px;
    margin: 80px 0 0 0;
  }
  .profile-top-container {
    height: 100%;
    width: 100%;
  }
  .profile-header {
    height: 30%;
    width: 100%;
    text-align: left;
    font-size: 120%;
  }
  .group-list-create {
    height: 100px;
    width: 30%;
    bottom: 0;
    margin: 0 0 30px 30px;
  }
  .container-spacer {
    display: none;
  }
  .group-map-marker-container {
    width: 500px;
    height: 1000px;
  }
  .group-display-container {
    width: 400px;
    height: 500px;
  }
  .group-lists-tabs {
    width: 5%;
    height: 50px;
  }
  .group-lists-tabs-wrapper {
    width: 200%;
  }
  .map-container {
    width: 50%;
    float: left;
    margin-right: 100px;
  }
  #map {
    height: 500px;
    width: 400px;
  }
  .profile-bottom-container {
    width: 40%;
    height: 20%;
    margin: 300px 0 0 0;
  }
  .profile-bottom-container-img h2 {
    margin: 100px 0 0 300px;
    color: white;
  }
}
@media (max-width: 600px) {
  .profile-container {
    width: 500px;
    height: 600px;
    margin: 80px 0 0 0;
  }
  .profile-top-container {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
  }
  .profile-header {
    height: 30%;
    width: 50%;
    margin: 0 0 0 10%;
  }
  .group-list-create {
    height: 100px;
    width: 40%;
    bottom: 0;
    margin: 0 0 50px 50px;
  }
  .container-spacer {
    display: none;
  }
  .group-map-marker-container {
    width: 500px;
    height: 1000px;
  }
  .group-display-container {
    width: 400px;
    height: 500px;
  }
  .group-lists-tabs {
    width: 5%;
    height: 50px;
  }
  .group-lists-tabs-wrapper {
    width: 227%;
  }
  .map-container {
    width: 50%;
    float: left;
    margin-right: 50px;
  }
  #map {
    height: 500px;
    width: 400px;
    margin: 0 0 0 1%;
  }

  .profile-bottom-container {
    width: 70%;
    height: 20%;
    margin: 300px 0 0 0;
  }
  .profile-bottom-container-img {
    height: 80%;
    width: 80%;
    margin: 0 0 0 3%;
  }
  .profile-bottom-container-img h2 {
    margin: 100px 0 0 100px;
    color: white;
  }
}
@media (max-width: 750px) {
  .profile-container {
    width: 750px;
    height: 600px;
    margin: 80px 0 0 0;
  }
  .profile-top-container {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
  }
  .profile-header {
    height: 30%;
    width: 50%;
    margin: 0 0 0 10%;
  }
  .group-list-create {
    height: 100px;
    width: 40%;
    bottom: 0;
    margin: 0 0 50px 50px;
  }
  .container-spacer {
    display: none;
  }
  .group-map-marker-container {
    width: 600px;
    height: 600px;
  }
  .group-display-container {
    width: 100%;
    height: 600px;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 150%;
    font-stretch: expanded;
  }
  .group-lists-tabs {
    width: 15%;
    height: 50px;
  }
  .map-container {
    width: 100%;
    float: left;
  }
  #map {
    height: 500px;
    width: 75%;
    margin: 0 0 0 1%;
  }

  .profile-bottom-container {
    width: 70%;
    height: 20%;
    margin: 300px 0 0 0;
  }
  .profile-bottom-container-img {
    height: 80%;
    width: 80%;
    margin: 0 0 0 3%;
  }
  .profile-bottom-container-img h2 {
    margin: 75px 0 0 250px;
    color: white;
  }
}
@media (max-width: 900px) {
  .profile-container {
    width: 750px;
    height: 700px;
    margin: 80px 0 0 0;
  }
  .profile-top-container {
    height: 100%;
    width: 90%;
    margin: 0 0 0 0;
  }
  .group-list-create {
    height: 100px;
    width: 40%;
    bottom: 0;
    margin: 0 0 50px 50px;
  }
  .container-spacer {
    display: none;
  }
  .group-map-marker-container {
    width: 750px;
    height: 750px;
  }
  .group-display-container {
    width: 100%;
    height: 600px;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 150%;
    font-stretch: expanded;
  }
  .map-container {
    height: 600px;
    width: 60%;
    float: left;
    margin: 0 0 200px 20%;
  }
  .container-spacer2 {
    height: 300px;
    margin: 900px 0 0 0;
  }
  .profile-bottom-container {
    width: 80%;
    height: 90%;
    margin: 300px 0 0 0;
  }
  .profile-bottom-container-img h2 {
    margin: 100px 0 0 460px;
  }
}
@media (max-width: 1080px) {
  .profile-container {
    width: 1080px;
    height: 1080px;
  }
  .profile-bottom-container {
    width: 1080px;
    height: 1080px;
  }
  .group-map-marker-container {
    width: 1080px;
    height: 1080px;
  }
}
/*@media (min-width: 1081px) {
  .profile-container {
    width: 100%;
    height: 100%;
  }
  .profile-bottom-container {
    width: 100%;
    height: 100%;
  }
  .group-map-marker-container {
    width: 100%;
    height: 100%;
  }
}*/
