@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic);
:root {
  --main-color-1: rgb(72, 75, 84);
  --main-color-2: lightgrey;
  --main-color-3: rgb(50, 76, 255);
  --main-color-4: white;
  --main-color-5: black;
  /*--main-color-1: rgb(178, 141, 17);
  --main-color-2: rgb(255, 214, 76);
  --main-color-3: rgb(255, 208, 50);
  --main-color-4: rgb(0, 23, 178);
  --main-color-5: rgb(50, 76, 255);*/
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 0;
  font-family: 'Playfair display', serif;
}
.ui-view-container {
  height: 100%;
  width: 100%;
}
.home-page-container{
  height: 100%;
  width: 90%;
  margin: 0 0 0 5%;
}
.home-top-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
  /*margin-left: 0;
  margin-top: 0;
  padding: 0;*/
}
.home-top-container H1 {
  font-size: 700%;
  text-align: center;
  margin-top: 400px;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: var(--main-color-3, yellow);
  -webkit-text-stroke-width: 2px;
   text-fill-color: white;
   text-stroke-color: var(--main-color-3, yellow);
   text-stroke-width: 2px;
}
#top-page-img {
  height: 85%;
  width: 100%;
  background-image: url('../img/bora-bora-sunset2.jpg');
  background-size: cover;
  /*flex: 1 0 25%;*/
}
.home-page-mid-container {
  height: 100%;
  width: 100%;
}
.home-page-mid-container h3 {
  height: 150px;
  width: 60%;
  margin: 0 0 0 20%;
  text-align: center;
  color: var(--main-color-3, yellow);
  font-size: 140%;
}
#home-mid-between-section-one {

}
.home-mid-first-section {
  height: 500px;
  width: 100%;
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-4, gey));
}
.home-mid-first-section-img {
  height: 100%;
  width: 50%;
  background-image: url('../img/world-map.png');
  background-size: cover;
  float: right;
  margin: 0 10% 0 0;
  z-index: 10;
}
.home-mid-first-section-text {
  height: 40%;
  width: 40%;
  margin: 0 0 0 10%;
  padding: 6% 0 0 0;
  bottom: 0;
  /*vertical-align: bottom;*/
  font-size: 150%;
  font-style: italic;
  text-align: center;
  overflow: hidden;
  z-index: 15;
}
#home-mid-between-section-two {
height: 200px;
margin: 75px 0 0 20%;
}
.home-mid-second-section {
  height: 500px;
  width: 100%;
  position: relative;
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-4, gey));
}
.home-mid-second-section-img {
  height: 100%;
  width: 50%;
  background-image: url('../img/gmaps-san-francisco.png');
  background-size: cover;
  float: left;
  z-index: 10;
}
.home-mid-second-section-text {
  height: 40%;
  width: 40%;
  margin: 0 0 0 0;
  padding: 12% 12% 0 0;
  font-size: 200%;
  font-style: italic;
  text-align: center;
  float: right;
}
.login-container {
  height: 100%;
  width: 90%;
  margin: 80px 0 0 5%;
  display: block;
  text-align: center;
  /*margin-bottom: 50%;*/
  background:  linear-gradient(var(--main-color-1, yellow), var(--main-color-5, gey));
  color: var(--main-color-1, yellow);
  /*padding-top: 80px;*/
}
.login-img {
  height: 100%;
  width: 100%;
  background-image: url('../img/world-map.png');
  background-size: cover;
}
.login-container h1 {
  /*margin: 20% 0 0 0;*/
  padding: 20% 0 0 0;
  font-size: 400%;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: var(--main-color-3, yellow);
  -webkit-text-stroke-width: 2px;
  text-fill-color: #fff;
  text-stroke-color: var(--main-color-3, yellow);
  text-stroke-width: 2px;
}
.login-container h4 {
  padding: 20px 0 0 0;
  font-size: 120%;
  font-weight: bold;
  color: var(--main-color-3, yellow);
}
.login-container button {
  background: var(--main-color-3, yellow);
  color: white;
}
.register-container {
  height: 100%;
  width: 90%;
  display: flex;
  margin: 80px 0 0 5%;
  /*margin-bottom: 50%;*/
  background: linear-gradient(var(--main-color-2, yellow), var(--main-color-4, gey));
  color: white;
  /*padding-top: 80px;*/
}
.register-container-content {
  height: 200px;
  width: 100%;
  margin-top: 225px;
  text-align: center;
  font-size: 300%;
}
.register-container-content button {
  height: 50px;
  width: 120px;
  background: var(--main-color-4, blue);
  border-radius: 30%;
  box-shadow: inset 0 0 2em  rgba(0,0,0,.5), 0 0 2em  var(--main-color-4, yellow);
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: var(--main-color-2, yellow);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: var(--main-color-5, yellow);
}
.pac-container {
  font-family: Roboto;
  background-color: var(--main-color-2, yellow);
}
#type-selector {
  color: #fff;
  background: linear-gradient(var(--main-color-5, yellow), var(--main-color-4, grey));
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  /*background: var(--main-color-1, yellow);*/
}
.logout-button {
  color: white;
  background: linear-gradient(white, purple);
  border-radius: 30%;
}

@media (max-width: 750px) {
  .profile-container {
    width: 750px;
    height: 750px;
  }
  .profile-bottom-container {
    width: 750px;
    height: 750px;
  }
  .group-map-marker-container {
    width: 750px;
    height: 750px;
  }
  #map {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 1080px) {
  .profile-container {
    width: 1080px;
    height: 1080px;
  }
  .profile-bottom-container {
    width: 1080px;
    height: 1080px;
  }
  .group-map-marker-container {
    width: 1080px;
    height: 1080px;
  }
}
@media (min-width: 1081px) {
  .profile-container {
    width: 100%;
    height: 100%;
  }
  .profile-bottom-container {
    width: 100%;
    height: 100%;
  }
  .group-map-marker-container {
    width: 100%;
    height: 100%;
  }
}
