html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  /*background: #41cff0;*/
  margin: 0;
  padding: 0;
}

.ui-view-container {
  height: 100%;
  width: 100%;
}

.home-top-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*margin-left: 0;
  margin-top: 0;
  padding: 0;*/
  border-bottom: 10px solid black;
}
.home-top-container H1 {
  font-size: 700%;
  text-align: center;
  margin-top: 500px;
  color: white;
  text-shadow: 3px 3px lawngreen,
               -3px 3px lawngreen,
               3px -3px lawngreen,
               -3px -3px lawngreen;
}

#top-page-img {
  height: 100%;
  width: 100%;
  background-image: url('./img/trail-far-away.jpg');
  background-size: cover;
  flex: 1 0 25%;
}

#map {
  height: 1000px;
  width: 1000px;
  background: red;
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #4eded5;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
        background-color: #4eded5;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      .login-container {
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;
        /*margin-bottom: 50%;*/
        background: linear-gradient(grey, black);
        color: white;
        padding: 0;
      }

      .login-container h1 {
        font-size: 300%;
      }

      .profile-container h3 strong {
        color: rgb(81, 219, 242);
        font-size: 150%;
      }
