@import url(https://fonts.googleapis.com/css?family=Arvo:700italic);
#menu-icon {
  width: 40px;
  height: 40px;
	position: fixed;
	top: 10px;
	right: 10px;
  /*float: left;*/
	background: linear-gradient(blue, white);
  border: 1px solid;
  border-radius: 15%;
  line-height: 80px;
}

#menu-icon:hover {
  cursor: pointer;
}

nav {
	width: 200px;
	height: 35%;
	position: fixed;
	right: 0;
	margin-top: 50px;
	margin-right: 10px;
	/*background: lawngreen;*/
  box-shadow: inset 0 0 2em  rgba(0,0,0,.5), 0 0 2em  rgba(0, 56, 255, 0.72);
}

.menu-list {
	height: 100%;
	width: 100%;
	margin-left: -40px;
	display: inline-block;
}

.clearfix {
	width: 100%;
	height: 50px;
	display: block;
	/*border: 1px black solid;*/
	text-align: center;
	vertical-align: middle;
  overflow:	hidden;
	font-family: 'Arvo', serif;
	text-shadow: 0 -1px 0 #000;
	font-weight: 600;
	color: blue;
	font-size: 200%;
	/*text-align: center;*/
	text-shadow: 0.5px 0.5px white,
							 -0.5px 0.5px white,
							 0.5px -0.5px white,
							 -0.5px -0.5px white;
}

a:hover {
	color: grey;
	text-shadow: 1.5px 1.5px rgb(238, 236, 0),
							 -1.5px 1.5px rgb(238, 236, 0),
							 1.5px -1.5px rgb(238, 236, 0),
							 -1.5px -1.5px rgb(238, 236, 0);
}

.lines {
  width: 38px;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  left: 33%;
  margin-left: -12.5px;
  margin-top: -1.5px;
}

.line-1 {
  background: black;
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -14px, 0);
}

.line-2 {
  background: black;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, -5px, 0);
}

.line-3 {
  background: black;
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 5px, 0);
}

.line-4 {
  background: black;
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 14px, 0);
}

.navBar-container {
  width: 100%;
  height: 80px;
  position: fixed;
  background: linear-gradient(rgb(50,76,255), rgb(0,23,178));
  margin: 0;
  padding: 0;
}
.navBar-logo {
  width: 8%;
  height: 80px;
  background-image: url('../img/map-logo-v2.png');
  background-size: cover;
  float: left;
}
.navBar {
  width: 25%;
  height: 80px;
  flex: 1 1 1;
  align-self: center;
  margin: 0;
  padding: 0;
  float: right;
}

.navRotate {
  height: 10px;
  font-size: 1rem;
  text-decoration: none;
  padding: 2rem;
  background: linear-gradient(rgb(50,76,255), rgb(0,23,178));
  color: white;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transform: rotateX(0deg);
  display: inline-block;
  vertical-align: bottom;
}
.navRotate:hover {
  animation: rotateLink .5s cubic-bezier(.53,.23,.61,1.25) forwards;
  background: darken(#2c3e50, 5);
  color: white;
}
.navRotate:active {
  background: darken(#2c3e50, 10);
}
.navRotate:first-child {
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}
.navRotate:last-child {
  border-radius: 0 2rem 2rem 0;
  padding-right: 2rem;
}

@-webkit-keyframes rotateLink {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(360deg);}
}

@media (max-width: 700px) {
  .navBar-container {
    display: none;
  }
}
@media (max-width: 1200px) {
  nav {
    display: none;
  }
}
@media (min-width: 1200px) {
  nav {
    display: none;
  }
}
